@font-face  {
  font-family: 'MinhaFonte';
  src: local('MinhaFonte'),url(./fonts/Oswald/static/Oswald-ExtraLight.ttf),format('truetype');
}

body{
  background-color: #222;
  font-size: 2rem;
  font-family: 'MinhaFonte';
  color: #FFF;
  margin: 30px;
}